
.number{
    background: #282c34;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(78,80,83,0.78);
    border-radius: 50%;
    display: inline-block;
    margin: 20px 10px;
    text-align: center;
    font-size: 50px;
    padding: 9px 0;
    color: #ccc;
}

.NumberDiv{
    display: flex;
    background: #282c34;
    padding: 7px 0 22px 4px;
    margin: 0px 0 0 0;
    border-radius: 0 0 15px 15px;
    box-shadow: -1px 3px 2px #ccc;
}
.Container{
    position: relative;
    top: 50%;
    left: 50%;
    margin: 100px 150px 100px -280px;
    display: inline-grid;
}
.btn{
    box-shadow: 0px 2px 2px #ccc;
    border: 2px solid transparent;
}